@{
    ViewBag.Title = "Home Page";
}
<div class="home">
    <div class="section-1">
        <div class="img-slogan">
            <img src="~/Content/images/circle.png" alt="life circle - OFS" />
        </div>
        <div class="text-slogan">
            <h1>CHÍNH XÁC - TIẾT KIỆM - HIỆU QUẢ</h1>
            <h2>Hệ thống quản lý gọi thức ăn <br /> (Order Food Sytem - OFS)</h2>
            <a href="#" class="btn btn-primary btn-test">Trải nghiệm cùng hệ thống</a>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6">
                <img src="~/Content/images/system-transparent.png" alt="Architect - OFS" class="img-fluid" />
            </div>
            <div class="col-6 col-sm-6 col-md-6">
                <h3>Giới thiệu</h3>
                <ul class="content-info">
                    Hệ Thống Đặt Món (Order Food System - OFS) cung cấp một giải pháp gọi món trong các quán ăn và nhà hàng.
                    OFS nhằm khắc phục các sai sót trong quá trình người phục vụ nhận thông tin và chuyển thông tin gọi món từ khách tới nhà bếp,
                    và chuyển món từ nhà bếp lên bàn ăn cho khách. Với OFS bạn sẽ không còn lo lắng:
                    <li>Sai sót trong quá trình lấy thông tin gọi món từ khách.</li>
                    <li>Khách hàng nào gọi trước, khách hàng nào gọi sau.</li>
                    <li>Món ăn được chuyển sai cho khách hàng.</li>
                    <li>Giúp kiểm soát các bàn ăn đã được thanh toán hay chưa.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-demo">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6">
                    <h3>Chạy thử:</h3>
                    <ul>
                        Để chạy thử hệ thống, các bạn có thể chạy thử nghiệm với 3 tài khoản người với 3 vai trò khác nhau bên dưới:
                        <li>Tài khoản (admin): <i>admin</i> - Password: admin</li>
                        <li>Tài nhân viên phục vụ: staff - Password: staff</li>
                        <li>Tài nhân viên đầu bếp: cooker - Password: cooker</li>
                    </ul>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <img src="~/Content/images/system.jpg" alt="Architect - OFS" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <div class="section-register">
        <div class="container">
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6">
                    <h3>Đăng ký:</h3>
                    <p>Hãy đăng ký tài khoản với chúng tôi và trải nghiệm cùng OFS, tất cả là miễn phí.</p>
                </div>
                <div class="col-6 col-sm-6 col-md-6">
                    <form action="/action_page.php">
                        <div class="register-form">
                            <h3>Register</h3>
                            <div class="row">
                                <p>Please fill in this form to create an account.</p>
                            </div>
                            <div class="row">
                                <label for="username"><b>Username</b></label>
                                <input type="text" placeholder="" name="username" required>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 col-md-6 paddingL">
                                    <label for="email"><b>Email</b></label>
                                    <input type="text" placeholder="" name="email" required>
                                    <label for="psw"><b>Password</b></label>
                                    <input type="password" placeholder="" name="psw" required>
                                </div>
                                <div class="col-6 col-sm-6 col-md-6 paddingR">
                                    <label for="phone"><b>Phone</b></label>
                                    <input type="text" placeholder="" name="phone" required>
                                    <label for="psw-repeat"><b>Repeat Password</b></label>
                                    <input type="password" placeholder="" name="psw-repeat" required>
                                </div>
                            </div>
                            <div class="row">
                                <label for="address"><b>Address</b></label>
                                <input type="text" placeholder="" name="address">
                            </div>
                            <div class="row btn-register">
                                <p>By creating an account, you agree to our <a href="#">Terms & Privacy</a>.</p>
                                <a href="#" class="btn btn-primary">Register</a>
                                <p>Already have an account? <a href="#">Sign in</a>.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
