header.navbar{padding:0}
.t5.container-fluid.navbar{padding: 0; border-bottom: 2px solid #962222}
.t5.footer {
    border-top: 2px solid #962222;
    min-height: 70px;
    padding: 15px;
    margin-top: 15px;
    background-color: #222;
    color: white;
}
.t5 .navbar-brand {
    font-size: 13pt
}
.t5 .home{margin-left: -15px; margin-right:-15px}
.t5 .home .section-1{
    background: url('images/bg2.jpg');
    width: 100%;
    height: 250px;
    text-align:center;
}
.t5 .home .section-1 .btn-test{
    background-color:#1c7d1c;
    border-color: #1c7d1c;
    margin-top: 10px;
}
.t5 .img-slogan{
    float:right;
}
.t5 .img-slogan img{width: 350px}
.t5 .text-slogan{padding: 30px;}
.t5 .text-slogan h1{color: #ff5}
.t5 .text-slogan h2{color: white}
.t5 .row{width:100%}
.t5 .home ul.content-info, .t5 .home .section-demo ul{
    line-height: 30px;
    list-style-type: decimal;
    padding-left: 0;
    text-align: justify;
}
.t5 .home .section-demo, .t5 .home .section-register{
    padding-top: 20px;
    padding-bottom: 20px;
}
.t5 .home .section-register {
    position: relative;
    overflow: hidden;
}

.t5 .home .section-register:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('images/comingsoon.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.t5 .home .section-demo {
    background-color: #eaeaea;
}

.t5 .home h3{
    color: #036;
}
.t5 .register-form b {
    color: #036;
}
.t5 .register-form .row {
    margin-left: 0px;
}
.t5 .register-form .row .paddingL {
    padding-left: 0px;
}
.t5 .register-form .row .paddingR {
    padding-right: 0px;
}
.t5 input[type=text], input[type=password] {
    width: 100%;
    margin: 0 0 22px 0;
    display: inline-block;
    border: none;
    border-bottom: 1px solid #f1f1f1;
}

.t5 input[type=text]:focus, input[type=password]:focus {
    outline: none;
}
.t5 .btn-register{
    display: block;
    text-align: center;
}
.t5 .btn-register > p{
    margin-top: 12px;
}